@charset "UTF-8";
#container{
	width: 800px;
	height: 1000px;
	margin: 0px auto;
	text-align: center;
}
#table_thumb{
	width: 250px;
}
#searchForm{
	width: 800px;
	
	margin-top: 20px;
	margin-bottom: 20px;
}
#searchList{
	display:flex;
	justify-content: space-between;
	width: 800px;
}
#numList{
	float: right;
}
#regBtn{
	float: right;
}
#container > .table> tbody > tr:nth-child(2), #container > .table> tbody > td:nth-child(2){
	width : 400px;
}
#container > .table> tbody th{
	width: 80px;
}
