@charset "UTF-8";
#mainBox{
		display: flex;
		flex-wrap: wrap;
		width: 800px;
		height: 1000px;
		margin: 0px auto;
		justify-content: space-around;
	}
.card{
	display: inline-block;
	margin: 20px;
}
#container{
	width: 700px;
	height: 700px;
	margin: 0px auto;
	text-align: center;
	
}
#containerEpi{
	width: 800px;
	height: 700px;
	margin: 0px auto;
	text-align: center;
}
#regSer{
	float: right;
}
#numList{
	width: 700px;
	margin-bottom: 20px;
}
#searchForm{
	float: left;
	margin-bottom: 20px;
}
