@charset "UTF-8";
#mainBox{
		display: flex;
		flex-wrap: wrap;
		width: 800px;
		height: 800px;
		margin: 0px auto;
		justify-content: space-between;
	}
.card{
	display: inline-block;
	margin: 0px;
	width: 320px;
	height:260px;
}
#container{
	width: 800px;
	min-height: 650px;
	
	margin: 0px auto;
	text-align: center;
	
}
#containerEpi{
	width: 800px;
	min-height: 650px;
	max-height: 1100px;
	
	margin: 0px auto;
	text-align: center;
}
#regSer{
	display: flex;
	justify-content: flex-end;
}
#numList{
	display:flex;
	justify-content:space-between;
	width: 800px;
	
}
#searchForm{
	
	margin-top: 20px;
	margin-bottom: 40px;
	
}
#containerEpi > table{
	text-overflow: ellipsis
}
.form-control{
	padding-left:10px;
}
img{
	border: 2px;
	display:flex;
	justify-content:center;
	margin: 0px;
	object-fit:none;
	float: center;
	width: 320px; 
	height: 130px;
}
#mainHeader{
	text-align: center;
	font-family:fantasy;
	margin: 20px;
}
#serTable{
	width:800px;
}
.epiNumFont{
	margin:0;
	padding:0;
	font-size: 0.9rem;
	
}
.card-text{
	margin:5px 0px 5px 0px;
	font-weight: 600;
}
.card-body p:nth-child(1) {
	font-size: 1.2rem;
}
.card-body{
	border-top:1px solid gray;
}
.card{
	cursor:pointer;
}
