<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace :  mapper interface의 패키지명+인터페이스명 -->  
<mapper namespace="com.novel.NovelProject.mapper.UserMapper">

	<select id="getUser">
		select * from users where user_id = #{user_id} 
	</select>
	
	<insert id="insertUser">
		insert into users values(#{user_id}, #{user_name}, #{email}, #{password}, 'N', sysdate)
	
	</insert>
	
	
</mapper>